# Default deny
*
**/
!*/

# Allow specific files and directories
!Jenkinsfile
!README.md
!.gitignore

# Allow Helm chart files
!simple-web/
!simple-web/Chart.yaml
!simple-web/values.yaml
!simple-web/templates/
!simple-web/templates/deployment.yaml
!simple-web/templates/ingress.yaml
!simple-web/templates/scaledobject.yaml
!simple-web/templates/service.yaml

